.wd-profilescreen-pic {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 150px;
}

.wd-editprofile-pic {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
}
