.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wd-profile-pic {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}


.wd-feed-picture-lg {
  border-radius: 8px;
  height: 90px;
  width: 90px;
}

.wd-cog-format {
  font-size: 2em;
  color: #2a9fd6
}

.card-img-overlay {
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card.override-bs {
  border: 0px;
}


.img {
  width: auto;
  height: auto;
}

.card-body.override-bs {
  padding: 0;
}

.row.override-bs {
  padding: 0;
}

.col-10.override-bs {
  padding: 0;
}

.a.override-bs {
  color: grey;
}
